<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/#main-shop">Меню</a> <i class="fa fa-angle-right"></i></li>
                        <li>Корзина</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- entry-header-area start -->
<div class="entry-header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="entry-header">
                    {{#if basket}}
                        <h1 class="entry-title">Корзина</h1>
                    {{else}}
                        <h1 class="entry-title">Ваша корзина пуста</h1>
                        <a href="/#main-shop">Наполнить корзину</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- entry-header-area end -->

{{#if basket}}
    <!-- cart-main-area start -->
    <div class="cart-main-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Изображение</th>
                                    <th class="product-name">Наименование</th>
                                    <th class="product-price">Цена</th>
                                    <th class="product-quantity">Количество</th>
                                    <th class="product-subtotal">Стоиомсть</th>
                                    <th class="product-remove">Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each basket.products}}
                                    <tr>
                                        <td class="product-thumbnail"><a href="shop/product/{{productId._id}}"><img
                                                src="img/cart.jpg" alt="{{productId.name}}"/></a>
                                        </td>
                                        <td class="product-name"><a
                                                href="/shop/product/{{productId._id}}">{{productId.name}}</a></td>
                                        <td class="product-price"><span class="amount">₽ {{productId.price}}</span></td>
                                        <td class="product-quantity"><input type="number" value="{{count}}"/></td>
                                        <td class="product-subtotal">₽ {{multiply productId.price count}}</td>
                                        <td class="product-remove">
                                            <button class="cart-remove-js btn btn-secondary btn-xs glyphicon glyphicon-remove"
                                                    aria-hidden="true" data-id="{{productId._id}}"></button>
                                        </td>
                                        <!--                                        <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>-->
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <div class="buttons-cart">
                                    <input type="submit" value="Удалить корзину"/>
                                    <a href="/#main-shop">Продолжить выбирать</a>
                                </div>
                                <div class="coupon">
                                    <h3>У Вас есть купон?</h3>
                                    <p>Введите его сюда.</p>
                                        <input type="text" placeholder="Номер купона"/>
                                        <input type="submit" value="Применить купон"/>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                <div class="cart_totals">
<!--                                    <h2>Итого:</h2>-->
                                    <table>
                                        <tbody>
<!--                                        <tr class="cart-subtotal">-->
<!--                                            <th>Subtotal</th>-->
<!--                                            <td><span class="amount">£215.00</span></td>-->
<!--                                        </tr>-->
<!--                                        <tr class="shipping">-->
<!--                                            <th>Shipping</th>-->
<!--                                            <td>-->
<!--                                                <ul id="shipping_method">-->
<!--                                                    <li>-->
<!--                                                        <input type="radio"/>-->
<!--                                                        <label>-->
<!--                                                            Flat Rate: <span class="amount">£7.00</span>-->
<!--                                                        </label>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <input type="radio"/>-->
<!--                                                        <label>-->
<!--                                                            Free Shipping-->
<!--                                                        </label>-->
<!--                                                    </li>-->
<!--                                                    <li></li>-->
<!--                                                </ul>-->
<!--                                                <p><a class="shipping-calculator-button" href="#">Calculate Shipping</a>-->
<!--                                                </p>-->
<!--                                            </td>-->
<!--                                        </tr>-->
                                        <tr class="order-total">
                                            <th>Итого:</th>
                                            <td>
                                                <strong><span class="amount">₽ {{basket.price}}</span></strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        <a href="/checkout">Оформить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- cart-main-area end -->
{{/if}}

