<!-- Add your site or application content here -->

<!-- HOME SLIDER -->
<div class="slider-wrap">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="img/slider/slide-img1.jpg" alt="slide">
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="350"
                         data-speed="1100"
                         data-start="1100"
                         data-easing="easeInOutBack"
                         style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #FFF;">
                        fashion men's
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="375"
                         data-speed="1100"
                         data-start="1100"
                         data-easing="easeInOutBack"
                         style="border-width: 2px; background-color: #ffffff; min-height: 1px;min-width: 400px;">
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="400"
                         data-speed="1100"
                         data-start="1400"
                         data-easing="easeInOutBack"
                         style=" font-size: 100px; font-weight: 800; line-height:80px;text-transform: uppercase; color: #fff; text-shadow: 0 0 2px rgba(0,0,0,.05)">
                        collection
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="500"
                         data-speed="1100"
                         data-start="1400"
                         data-easing="easeInOutBack"
                         style=" font-size: 20px; font-weight: normal; color: #FFF;line-height:14px;text-transform: uppercase;">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner"
                         data-x="150"
                         data-y="550"
                         data-speed="1300"
                         data-start="1700"
                         data-easing="easeInOutBack"
                         style=" font-size: 17px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
                        <a href="#" class="s-btn"
                           style="background: #EC4445;color: #ffffff;display: block;padding: 12px 28px;">shop now</a>
                    </div>
                </li>

                <li data-transition="random"
                    data-slotamount="7"
                    data-masterspeed="1000">
                    <img src="img/slider/slide-img2.jpg" alt="slide">
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="350"
                         data-speed="1100"
                         data-start="1100"
                         data-easing="easeInOutBack"
                         style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #FFF;">
                        fashion women’s
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="375"
                         data-speed="1100"
                         data-start="1100"
                         data-easing="easeInOutBack"
                         style="border-width: 2px; background-color: #ffffff; min-height: 1px;min-width: 400px;">
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="400"
                         data-speed="1100"
                         data-start="1400"
                         data-easing="easeInOutBack"
                         style=" font-size: 100px; font-weight: 800; line-height:80px;text-transform: uppercase; color: #fff; text-shadow: 0 0 2px rgba(0,0,0,.05)">
                        Latest collection
                    </div>
                    <div class="tp-caption large_black sfr"
                         data-x="150"
                         data-y="500"
                         data-speed="1100"
                         data-start="1400"
                         data-easing="easeInOutBack"
                         style=" font-size: 20px; font-weight: normal; color: #FFF;line-height:14px;text-transform: uppercase;">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner"
                         data-x="150"
                         data-y="550"
                         data-speed="1300"
                         data-start="1700"
                         data-easing="easeInOutBack"
                         style=" font-size: 17px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
                        <a href="#" class="s-btn"
                           style="background:#EC4445;color: #ffffff;display: block;padding: 12px 28px;">shop now</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END HOME SLIDER -->

<!-- blog-area start -->
<div id="main-shop" class="shop-area">
    <div class="container">
        <div class="row">
            <!-- shop-left-sidebar start -->
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Категории
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <aside class="widget widget-categories">
                                <!--                                <h3 class="sidebar-title">Категории</h3>-->
                                <ul class="sidebar-menu">
                                    <li><a href="/#main-shop">Все меню</a> <span class="count">(0)</span></li>
                                    {{#if category.length}}
                                        {{#each category}}
                                            <li>
                                                <a href="/category/{{_id}}#main-shop">{{name}}</a>
                                                <span class="count">({{products.length}})</span>
                                            </li>
                                        {{/each}}
                                    {{else}}
                                        <li>Категорий нет</li>
                                    {{/if}}
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <!-- widget-categories start -->
                <aside class="widget widget-categories">
                    <h3 class="sidebar-title">Категории</h3>
                    <ul class="sidebar-menu">
                        <li><a href="/#main-shop">Все меню</a> <span class="count">(0)</span></li>
                        {{#if category.length}}
                            {{#each category}}
                                <li>
                                    <a href="/category/{{_id}}#main-shop">{{name}}</a>
                                    <span class="count">({{products.length}})</span>
                                </li>
                            {{/each}}
                        {{else}}
                            <li>Категорий нет</li>
                        {{/if}}
                    </ul>
                </aside>
                <!-- widget-categories end -->

                <!-- widget-recent start -->
                <!--                <aside class="widget top-product-widget">-->
                <!--                    <h3 class="sidebar-title">Акции</h3>-->
                <!--                    <ul>-->
                <!--                        <li>-->
                <!--                            <div class="single-product">-->
                <!--                                <div class="product-img">-->
                <!--                                    <a href="#">-->
                <!--                                        <img class="primary-image" src="img/product/15.jpg" alt=""/>-->
                <!--                                        <img class="secondary-image" src="img/product/16.jpg" alt=""/>-->
                <!--                                    </a>-->
                <!--                                </div>-->
                <!--                                <div class="product-content">-->
                <!--                                    <div class="pro-info">-->
                <!--                                        <h2 class="product-name"><a href="#">Curabitur vulputate</a></h2>-->
                <!--                                        <div class="price-box">-->
                <!--                                            <span class="new-price">£90.00</span>-->
                <!--                                            <span class="old-price">£120.00</span>-->
                <!--                                        </div>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <div class="single-product">-->
                <!--                                <div class="product-img">-->
                <!--                                    <a href="#">-->
                <!--                                        <img class="primary-image" src="img/product/women/8.jpg" alt=""/>-->
                <!--                                        <img class="secondary-image" src="img/product/women/1.jpg" alt=""/>-->
                <!--                                    </a>-->
                <!--                                </div>-->
                <!--                                <div class="product-content">-->
                <!--                                    <div class="pro-info">-->
                <!--                                        <h2 class="product-name"><a href="#">Aliquam lobortis est</a></h2>-->
                <!--                                        <div class="price-box">-->
                <!--                                            <span class="new-price">£70.00</span>-->
                <!--                                            <span class="old-price">£100.00</span>-->
                <!--                                        </div>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <div class="single-product">-->
                <!--                                <div class="product-img">-->
                <!--                                    <a href="#">-->
                <!--                                        <img class="primary-image" src="img/product/6.jpg" alt=""/>-->
                <!--                                        <img class="secondary-image" src="img/product/7.jpg" alt=""/>-->
                <!--                                    </a>-->
                <!--                                </div>-->
                <!--                                <div class="product-content">-->
                <!--                                    <div class="pro-info">-->
                <!--                                        <h2 class="product-name"><a href="#">Pellentesque posuere</a></h2>-->
                <!--                                        <div class="price-box">-->
                <!--                                            <span class="new-price">£50.00</span>-->
                <!--                                        </div>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </aside>-->
                <!-- widget-recent end -->
            </div>
            <!-- blog-left-sidebar end -->

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <!-- toolbar start -->
                {{#if products.length}}
                    <div class="toolbar">
                        <div class="view-mode">
                            <a class="active" href="/#main-shop"><i class="fa fa-th-large"></i></a>
                            <a class="list" href="shop-list.html"><i class="fa fa-th-list"></i></a>
                        </div>
                        <!--                    <div class="show-result">-->
                        <!--                        <p> Showing 1–12 of 19 results</p>-->
                        <!--                    </div>-->
                        <div class="header-search">
                            <form action="#">
                                <input type="text" placeholder="Search product..."/>
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="toolbar-form">
                            <form action="#">
                                <div class="tolbar-select">
                                    <select>
                                        <option value="alphabet">По алфавиту</option>
                                        <option value="popular">По популярности</option>
                                        <option value="sale">Акции</option>
                                        <option value="cheaper">Дешевле</option>
                                        <option value="expensive">Дороже</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- toolbar end -->
                {{/if}}
                <!-- toolbar end -->
                <div class="clear"></div>
                <div class="row">
                    <div class="grid-view">
                        <!-- single-product start -->
                        {{#if products.length}}
                            {{#each products}}
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="single-product">
                                        {{#if isSale}}
                                            <span class="sale-text">Sale</span>
                                        {{/if}}
                                        <div class="product-img">
                                            <a href="/shop/product/{{_id}}">
                                                <img class="primary-image" src="img/product/17.jpg" alt={{name}}/>
                                                <img class="secondary-image" src="img/product/18.jpg" alt={{name}}/>
                                            </a>
                                            <div class="actions">
                                                <div class="action-buttons">
                                                    <div class="add-to-cart">
                                                        <form class="cart-add-js" action="/cart/add" method="post">
                                                            <input type="hidden" name="id" value="{{_id}}" data-price="{{price}}">
                                                            <button class="btn-add btn-danger" type="submit">Добавить
                                                            </button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h2 class="product-name"><a href="#">{{name}}</a></h2>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                            </div>
                                            <div class="price-box">
                                                <span class="new-price">₽{{price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{else}}
                            <h3>Здесь еще не появились позиции :(((</h3>
                        {{/if}}
                        <!-- single-product end -->
                    </div>
                </div>
                <!-- pagination start -->
                {{#if products.length}}
                    <div class="shop-pagination">
                        <div class="pagination">
                            <ul>
                                {{#each paginationCount}}
                                    {{#if @root.categoryName}}
                                        <li><a href="/category/{{@root.categoryName}}/{{this}}#main-shop">{{this}}</a>
                                        </li>
                                    {{else}}
                                        <li><a href="/step/{{this}}#main-shop">{{this}}</a></li>
                                    {{/if}}
                                {{/each}}

                                <!--                            <li><a href="/category/not/2">2</a></li>-->
                                <!--                            <li><a href="#">3</a></li>-->
                                <!--                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                {{/if}}
                <!-- pagination end -->
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->

<!-- brand-area start -->
<!--<div class="brand-area pad-60">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; section-heading start &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <div class="section-heading">-->
<!--                    <h3>Our Brands</h3>-->
<!--                    <div class="title-icon">-->
<!--                        <span><i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i></span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; section-heading end &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="brand-curosel">-->
<!--                &lt;!&ndash; single-brand start &ndash;&gt;-->
<!--                <div class="col-md-2">-->
<!--                    <div class="single-brand">-->
<!--                        <a href="#"><img src="img/brand/1.png" alt=""/></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; single-brand end &ndash;&gt;-->
<!--                &lt;!&ndash; single-brand start &ndash;&gt;-->
<!--                <div class="col-md-2">-->
<!--                    <div class="single-brand">-->
<!--                        <a href="#"><img src="img/brand/1.png" alt=""/></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; single-brand end &ndash;&gt;-->
<!--                &lt;!&ndash; single-brand start &ndash;&gt;-->
<!--                <div class="col-md-2">-->
<!--                    <div class="single-brand">-->
<!--                        <a href="#"><img src="img/brand/1.png" alt=""/></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; single-brand end &ndash;&gt;-->
<!--                &lt;!&ndash; single-brand start &ndash;&gt;-->
<!--                <div class="col-md-2">-->
<!--                    <div class="single-brand">-->
<!--                        <a href="#"><img src="img/brand/1.png" alt=""/></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; single-brand end &ndash;&gt;-->
<!--                &lt;!&ndash; single-brand start &ndash;&gt;-->
<!--                <div class="col-md-2">-->
<!--                    <div class="single-brand">-->
<!--                        <a href="#"><img src="img/brand/1.png" alt=""/></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; single-brand end &ndash;&gt;-->
<!--                &lt;!&ndash; single-brand start &ndash;&gt;-->
<!--                <div class="col-md-2">-->
<!--                    <div class="single-brand">-->
<!--                        <a href="#"><img src="img/brand/1.png" alt=""/></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; single-brand end &ndash;&gt;-->
<!--                &lt;!&ndash; single-brand start &ndash;&gt;-->
<!--                <div class="col-md-2">-->
<!--                    <div class="single-brand">-->
<!--                        <a href="#"><img src="img/brand/1.png" alt=""/></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; single-brand end &ndash;&gt;-->
<!--                &lt;!&ndash; single-brand start &ndash;&gt;-->
<!--                <div class="col-md-2">-->
<!--                    <div class="single-brand">-->
<!--                        <a href="#"><img src="img/brand/1.png" alt=""/></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; single-brand end &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- brand-area end -->
